html, body {
  height: 100%;
  background: url('../img/maple_leaf.png') 50% 200px;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

h1 {
  font-size: 3em;
  text-align: center;
}

.main_page {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

.container {
  min-height: 100%;
}

.header {
  height: 150px;
}

.header_1, .header_4 {
  width: 20%;
  height: 100%;
  background: red;
  display: inline-block;
}

.header_middle {
  width: 60%;
  margin: 0 -4px 0 -4px;
  background: white;
  display: inline-block;
}

.header_2 {
  text-align: center;
}

.header_text {
  margin: 0;
  display: inline-block;
}

.header h1 {
  font-size: 70px
}

.footer {
  width: 100%;
  height: 100px;
  position: relative;
  bottom: 0;

}

.footer h3 {
  text-align: center;
}

.aboot_detail {
  box-shadow: 10px 10px 5px #888888;
  background: white;
  width: 75%;
  max-width: 500px;
  display: inline-block;
  border: 1px solid red;
  border-radius: 20px;
  margin: 50px;
}

#gravatar {
  float: left;
  margin: 10px;
}

#gravatar img {
  border-radius: 40px;
}

#aboot_body {
  margin: 10px;
}

#aboot_body p {
  margin: 0;
}
