body {
  min-height: 100%;
  background: url('../img/maple_leaf.png') 50% 200px;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.main_page {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

.header {
  height: 150px;
}

.header_1, .header_4 {
  width: 20%;
  height: 100%;
  background: red;
  display: inline-block;
}

.header_middle {
  width: 60%;
  margin: 0 -4px 0 -4px;
  background: white;
  display: inline-block;
}

.header_2 {
  text-align: center;
}

.header_text {
  margin: 0;
  display: inline-block;
}

.header h1 {
  font-size: 70px
}

.footer {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
}

.footer h3 {
  text-align: center;
}

.aboot_detail {
  width: 75%;
  max-width: 400px;
}
