/*http://line25.com/tutorials/how-to-create-a-pure-css-dropdown-menu*/

nav ul ul {
  display: none;
}

  nav ul li:hover > ul {
    display: block;
  }

nav ul {
  background: #ff0000;
  background: linear-gradient(top, #ff0000 0%, #ffffff 100%);
  background: -moz-linear-gradient(top, #ff0000 0%, #ffffff 100%);
  background: -webkit-linear-gradient(top, #ff0000 0%,#ffffff 100%);
  box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
  padding: 0 20px;
  border-radius: 10px;
  list-style: none;
  position: relative;
  display: inline-table;
}

  nav ul:after {
      content: ""; clear: both; display: block;
  }

li {
  opacity: 0.8;
  float: left;
}

  nav ul li:hover {
    opacity: 9;
  }

  nav ul li:hover a {
    color: #ffffff;
  }

  nav ul li:active a {
    color: #ffffff;
  }

nav ul li a {
  display: block;
  padding: 25px 40px;
  color: #303030; text-decoration: none;
}

nav ul ul {
  /*background: #ff0000; border-radius: 0px; padding: 0;*/
  position: absolute; top: 100%;
  background: #ff0000;
  background: linear-gradient(top, #ff0000 0%, #ffffff 100%);
  background: -moz-linear-gradient(top, #ff0000 0%, #ffffff 100%);
  background: -webkit-linear-gradient(top, #ff0000 0%,#ffffff 100%);
  box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
  padding: 0 20px;
  border-radius: 10px;
  list-style: none;
  display: none;
}

  nav ul ul li {
    float: none;
    border-top: 1.5px solid #ffffff;
    position: relative;
  }

    nav ul ul li a {
      opacity: 1;
      padding: 15px 40px;
      color: #303030 !important; text-decoration: none;
    }

      nav ul ul li a:hover {
        opacity: 1;
        color: #ffffff !important;
      }

nav ul ul ul {
  position: absolute; left: 100%; top:0;
}