<div id="new_aboot">
  <form method="post" action="/aboots/new">
    <input type="text" name="content"
      placeholder="What're ye talking Aboot?">
    <input type="submit" value="Aboot it!">
  </form>
</div>