<div>
  <form method="post" action="/aboot/new">
    <input type="text" name="content"
      placeholder="Enter Your Aboot">
    <br>
    <br>
    <input type="submit" value="Aboot it!">
  </form>
</div>
