<div class="header">
  <div class="header_1">
  </div>

  <div class="header_middle">
    <div class="header_2">
      <img src="../img/beaver.jpg">
      <h1 class="header_text">Abooty</h1>
      <h2 class="header_text">for whatever you're talking Aboot</h2>
    </div>

    <div class="header_3">
    </div>
  </div>

  <div class="header_4">
  </div>
</div>