<h1>What's that Aboot?</h1>
<%= erb :_errors %>
<%= erb :_aboot_form %>
<br>
<form action="/logout" method="post">
  <input type="submit" value="logout">
</form>

<form action="/users/<%= session[:user_id] %>" method="get">
  <input type="submit" value="Profile Page">
</form>

<br>
<%= erb :_aboot_list %>


