<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/global">Global</a></li>
    <li><a href="#">Profile</a></li>
    <li><a href="#">Connections</a>
      <ul>
        <li><a href="#">Followers</a></li>
        <li><a href="#">Following</a></li>
      </ul>
    <li><a href="/favourites">Favourites</a></li>
    <li><a href="#">Logout</a></li>
  </ul>
</nav>