<form action="/signup" method="post">
  <input type="text" name="name" placeholder="name">
  <br>
  <input type="text" name="handle" placeholder="handle">
  <br>
  <input type="text" name="email" placeholder="email">
  <br>
  <input type="password" name="password_hash" placeholder="password">
  <br>
  <input type="submit" value="Sign-up">
</form>