<div class="container">
  <p class="canada_welcome">Canada welcomes you.  Sign up below.</p>
  <%= erb :_signup %>
  <br>
  <p class="canada_welcome">Login below if you're already part of the land of Canada</p>
  <%= erb :_login %>
</div>
